.align-left {
  float: left;
  margin: 2px 20px 20px 0;
}
.align-right {
  float: right;
  margin: 2px 0 20px 20px;
}
.align-center {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
