.float-left {
  float: left;
}
.float-right {
  float: right;
}

.align-left {
  float: left;
  margin: 0.4em 20px 20px 0;
}
.align-right {
  float: right;
  margin: 0.4em 0 20px 20px;
}
.align-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}
.no-border {
  border: none;
}
