html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header,
section,
article,
aside,
nav {
  display: block;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}

body.disable-scroll {
  overflow: hidden;
}

a + .ajax-progress {
  position: absolute;
  margin: 2px 0 0 2px;
}

.dev-query {
  padding: 1em;
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}
div.devel-querylog {
  font-size: 13px;
}
div.devel-querylog .cell-5 {
  white-space: pre-wrap;
}

.block {
  position: relative;
}

/* Sticky footer */
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page {
  flex-grow: 1;
}

/* Toolbar */
#toolbar {
  li {
    background: none;
  }
  li:before {
    display: none;
  }
  .toolbar-shortcuts ul {
    @include clearfix;
    padding-top: 3px !important;
    padding-bottom: 0px !important;
  }
  #edit-shortcuts {
    padding-top: 3px !important;
    padding-bottom: 0px !important;
  }
}
body.toolbar {
  padding-top: 30px;
}
body.toolbar-drawer {
  padding-top: 61px;
}

/* jQuery UI */
.ui-widget-overlay {
  background: black;
  opacity: .3;
}
.ui-dialog {
  background: white;
}
.ui-dialog-content {
  overflow: visible;
}

/* Messages */
div.messages {
  margin: 1em 0;
  padding: 10px 15px;
  border-width: 8px;
  background-image: none;

  ul {
    margin: 0 0 0 20px;
  }
  pre {
    font-size: 14px;
  }
}

/* Action links */
.action-links {
  margin: 20px 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 1.5em;
  }
  li:last-child {
    margin-right: 0;
  }
  li:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 0.5em;
    background: url(/themes/seven/images/add.png) no-repeat;
  }
}

/* Krumo */
.krumo-root li {
  background: none;
  margin: 0;
}
.krumo-root li:before {
  display: none;
}
.krumo-footnote img {
  border: 0;
}
.krumo-name {
  border: 0;
}
.krumo-get-path {
  display: none;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;

  .breadcrumb-item {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .breadcrumb-item:before {
    content: '»';
    display: inline-block;
    margin: 0 7px 0 4px;
    vertical-align: middle;
  }
  .breadcrumb-item:first-child:before {
    display: none;
  }
}

/* Pager */
.pager {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  a,
  .pager-current {
    padding: 2px 5px;
  }
}

/* Three columns */
.page-content {
  float: left;
  width: 100%;
}
.sidebar-first {
  float: left;
  margin-left: -100%;
}
.sidebar-second {
  float: left;
}
.one-sidebar-first .page-content-inner {
  margin-right: 0;
}
.one-sidebar-second .page-content-inner {
  margin-left: 0;
}
.no-sidebars .page-content-inner {
  margin-right: 0;
  margin-left: 0;
}
/* Three column sizes */
.page-content-inner {
  margin: 0 26%;
}
.sidebar-first {
  width: 25%;
}
.sidebar-second {
  width: 25%;
  margin-left: -25%;
}

/* Forms */
form {
  margin: 0;
  padding: 0;
}
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-text,
.form-textarea,
.form-textarea-wrapper textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: .2em .2em .2em 0;
}
.form-checkbox {
  margin-left: 0;
}
.form-submit {
  max-width: 100%;
  margin-left: 0;
}
.form-submit::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.form-submit + .form-submit {
  margin-left: 10px;
}
.form-radio {
  margin: 0 5px 0 0;
}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}
.form-item .description {
  font-size: 0.85em;
}
.marker,
.form-required {
  color: #f00;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}
label {
  display: block;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}

/* Fieldsets */
fieldset {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid;

  legend {
    padding: 0 5px;
  }
}

/* Vertical tabs */
.vertical-tabs ul.vertical-tabs-list {
  li {
    outline: none;
  }
  li a {
    color: #737373;
    padding: .3em .6em .4em .6em;
  }
  li a:hover {
    outline: none;
    background: #F7F7F7;
  }
  li a:focus strong,
  li a:active strong,
  li a:hover strong {
    text-decoration: none;
  }
  .summary {
    font-size: .85em;
    line-height: 140%;
  }
}

/* Draggable table */
.draggable td {
  padding-top: .3em;
  padding-bottom: .3em;

  a.tabledrag-handle {
    position: absolute;
    margin: 0 0 0 -5px;
  }
  .image-widget-data {
    margin-right: .5em;
    margin-left: 30px;
  }
  .file-icon {
    vertical-align: middle;
  }
}

/* Contextual links */
.contextual-links-wrapper {
  z-index: 10000 !important;
}
.contextual-links {
  margin: 0 !important;
  padding: 5px 0 !important;
  border: 1px solid #ccc !important;
  background: white !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;

  &:before,
  &:after {
    display: none !important;
  }
  li {
    display: block !important;
    margin: 0 !important;
    border: none !important;
    background: none !important;
  }
  li:before {
    display: none !important;
  }
  a {
    display: block !important;
    margin: 0 !important;
    padding: 4px 8px !important;
    border: none !important;
    font-family: Tahoma, sans-serif !important;
    font-size: 11px !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-transform: none !important;
    text-align: left !important;
    line-height: 1.3 !important;
  }
  a:before,
  a:after {
    display: none !important;
  }
}
.contextual-links-trigger {
  -webkit-transition: none;
  transition: none;

  a:before,
  a:after {
    display: none !important;
  }
}
.contextual-links-region-active {
  outline: #5C5C5C solid 1px;

  .contextual-links-trigger {
    border-color: #ccc !important;
  }
}

/* Auto-Dialo Ajax Loader */
body.autodialog-loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:
    url(../../base/img/ajax-loader.gif) center center no-repeat,
    url(../../base/img/ajax-loader-bg.png) center center no-repeat,
    rgba(0, 0, 0, .5);
  z-index: 100;
}
.autodialog + .ajax-progress {
  display: none;
}

/* Clearfix */
.page-header-inner,
.page-main-header-inner,
.page-main-inner,
.highlighted,
.page-content-inner,
.sidebar-first,
.sidebar-second,
.page-main-footer-inner,
.page-footer-inner,
.block-content,
.comment,
.view-content {
  @include clearfix;
}

/* system.theme.css */
/* Markup generated by theme_tablesort_indicator() */
th.active img {
  display: inline;
}
td.active {
  background-color: #ddd;
}
/* Inline items */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
/* Autocomplete */
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}
/* Collapsible fieldsets */
html.js fieldset.collapsible .fieldset-legend {
  background: url(/misc/menu-expanded.png) 5px 65% no-repeat;
  padding-left: 15px;
}
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(/misc/menu-collapsed.png);
  background-position: 5px 50%;
}
.fieldset-legend span.summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}
/* TableDrag behavior */
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}
/* TableSelect behavior */
tr.selected td {
  background: #ffc;
}
td.checkbox,
th.checkbox {
  text-align: center;
}
/* Progress bar */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  border-radius: 3px;
}
.progress .filled {
  background: #0072b9 url(/misc/progress.gif);
}
