.primary-tabs {
  @include clearfix;
  clear: both;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  border-bottom: $tabs-border-width solid $tabs-border-color;
  font-family: Tahoma, Arial, sans-serif;
  font-size: $tabs-font-size;
  line-height: 11px;
  zoom: 1;

  li {
    position: relative;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    background: none;
    list-style: none;
  }
  li:before {
    display: none;
  }
  a {
    display: block;
    padding: 6px 11px;
    opacity: .6;
    border: $tabs-border-width solid $tabs-border-color;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    background: none;
    color: $tabs-text-color;
    text-decoration: none;
  }
  a:hover,
  a.active {
    opacity: 1;
    border-bottom: 0;
    border-color: $tabs-border-color;
    background: rgba(0, 0, 0, .05);
    color: $tabs-text-color;
  }
}
