/* Fix default styles */
.owl-carousel {
  display: block;
}
.owl-carousel .owl-item {
  -webkit-backface-visibility: visible;
}
.owl-carousel .owl-item img {
  width: auto;
}

/* Styles for not-loaded carousels */
.owl-carousel-preset-slideshow:not(.owl-loaded) > div:nth-child(n+2),
.owl-carousel-preset-slider2:not(.owl-loaded) > div:nth-child(n+3),
.owl-carousel-preset-slider3:not(.owl-loaded) > div:nth-child(n+4),
.owl-carousel-preset-slider4:not(.owl-loaded) > div:nth-child(n+5),
.owl-carousel-preset-slider5:not(.owl-loaded) > div:nth-child(n+6) {
  display: none;
}

/* Navigation */
.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: auto 0;
  background: rgba(255, 255, 255, .5);
  text-align: center;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}

/* Dots */
.owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  background-color: #BCBCBC;
  border-radius: 50%;
}
.owl-dot:hover {
  background-color: #ADADAD;
}
.owl-dot.active {
  background-color: #818181;
}
