/* Strip unit from number */
@function strip-unit($number) {
  @if (type-of($number) == 'number' and not unitless($number)) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

/* Convert string to number */
@function str-to-number($value) {
  @if (type-of($value) == 'number') {
    @return $value;
  }
  @else if (type-of($value) != 'string') {
    $_: log('Value for `to-number` should be a number or a string.');
  }

  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);

    @if (not (index(map-keys($numbers), $character) or $character == '.')) {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i))
    }

    @if ($character == '.') {
      $digits: 1;
    }
    @else if ($digits == 0) {
      $result: $result * 10 + map-get($numbers, $character);
    }
    @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }

  @return if($minus, -$result, $result);
}

/* Convert pixels to relative units */
@function px-to-relative($outer-size, $target-size, $unit) {
  $result: (100 / strip-unit($outer-size)) * strip-unit($target-size);
  @return str-to-number($result#{$unit});
}

/* Convert px to % */
@function px-to-percent($target-size, $outer-size: $page-max-width) {
  @return px-to-relative($outer-size, $target-size, '%');
}

/* Convert px to vw */
@function px-to-vw($outer-size, $target-size) {
  @return px-to-relative($outer-size, $target-size, 'vw');
}

/* Strin replace */
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/* Clearfix */
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/* Remove clearfix */
@mixin clearfix-reset {
  &:after {
    display: none;
  }
}

/* Horizontal container */
@mixin full-width-container($inner-selector: ' > *') {
  padding-left: $page-padding;
  padding-right: $page-padding;

  @if ($inner-selector) {
    #{$inner-selector}  {
      @include full-width-container-inner;
    }
  }
}
@mixin full-width-container-inner {
  @include clearfix;
  box-sizing: border-box;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}

/* Remove horizontal container */
@mixin full-width-container-reset($inner-selector) {
  padding-left: 0;
  padding-right: 0;

  @if ($inner-selector) {
    #{$inner-selector}  {
      @include full-width-container-reset;
    }
  }
}
@mixin full-width-container-inner-reset {
  @include clearfix-reset;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

/* Border radius */
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;
}

/* Dotted underline */
@mixin dotted-underline($color, $dot-width: 1px, $dot-height: 1px, $separator-width: 1px) {
  background-image: linear-gradient(to right, $color $dot-width, transparent $dot-width);
  background-size: ($separator-width + $dot-width) $dot-height;
  background-repeat: repeat-x;
  background-position: 0 bottom;
}
@mixin dotted-underline-reset {
  background: none;
}

/* Vertical center content  */
@mixin vertical-center-content {
  display: flex;
  align-items: center;
}

/* Justify columns */
@mixin justify-content() {
  display: flex;
  justify-content: space-between;
}

/* Triangle */
@mixin triangle($direction, $width, $height, $color, $pseudo-selector: after) {
  &:#{$pseudo-selector} {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;

    @if ($direction == top) {
      border-width: 0 ($width/2) $height ($width/2);
      border-bottom-color: $color;
    }
    @if ($direction == bottom) {
      border-width: $height ($width/2) 0 ($width/2);
      border-top-color: $color;
    }
    @if ($direction == left) {
      border-width: ($height/2) $width ($height/2) 0;
      border-right-color: $color;
    }
    @if ($direction == right) {
      border-width: ($height/2) 0 ($height/2) $width;
      border-left-color: $color;
    }

    @content;
  }
}

/* Outer lines */
@mixin outer-lines($color: black, $margin: 10px, $top: -1px) {
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: relative;
    top: $top;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: $color;
  }
  &:before {
    left: (0 - $margin);
    margin-left: -50%;
  }
  &:after {
    left: $margin;
    margin-right: -50%;
  }
  > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    max-width: 85%;
  }
}
@mixin outer-lines-reset {
  overflow: visible;
  text-align: left;
  white-space: normal;

  &:before,
  &:after {
    display: none;
  }
  > span {
    display: inline;
    max-width: none;
  }
}

/* Background image with webp and fallback to jpg */
@mixin background-webp($url, $fallback_ext: 'jpg') {
  background-image: url($url);

  .no-webp & {
    $url: str-replace($url, '.webp', '.' + $fallback_ext);
    background-image: url($url);
  }
}

/* Remove list style */
@mixin style-list-reset {
  & {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* Remove button style */
@mixin style-button-reset {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

/* Full width element */
@mixin full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @include media('<=desktop') {
    margin-left: -$page-padding;
    margin-right: -$page-padding;
  }
}

/* Column */
@mixin span($span, $config: ()) {
  float: left;
  width: span($span, $config);
  box-sizing: border-box;

  @if (nth($span, 1) == 'first') {
    clear: left;
  }
  @if (nth($span, 1) != 'last') {
    margin-right: gutter(susy-get('columns'), $config);
  }
}

/* Gallery */
@mixin gallery($column-selector: ' > *', $columns: 4, $column-gutter: $page-gutter, $container-width: $page-max-width) {
  $column-width: ($container-width - $column-gutter * ($columns - 1)) / $columns;

  #{$column-selector}  {
    float: left;
    clear: none;
    box-sizing: border-box;
    width: px-to-percent($column-width, $container-width);
    margin-left: px-to-percent($column-gutter, $container-width);
    margin-bottom: $column-gutter;

    &:nth-child(#{$columns}n+1) {
      clear: both;
      margin-left: 0;
    }
  }
}

/* Aspect ratio */
@mixin aspect-ratio($width, $height, $selector: ' > *') {
  position: relative;
  display: block;
  width: 100%;
  padding-top: ($height / $width) * 100%;

  #{$selector} {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}
