/* Textfield */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
.form-text,
.form-textarea,
select {
  font: inherit;
  color: inherit;

  &.progress-disabled {
    @include animation-wait;
  }
}

/* Select */
select {

}
option {
  font: inherit;
}

/* Button */
input[type="button"],
input[type="submit"],
button,
.form-button,
.form-submit {
  @include button-default;
}

/* Radios & Checkboxes */
/*input[type="radio"],
input[type="checkbox"] {
  $radio-width: 20px;
  $radio-margin: 10px;

  position: absolute;
  left: -9999px;

  & ~ label {
    display: inline-block;
    padding-left: $radio-width + $radio-margin;
    cursor: pointer;
  }
  & ~ label:before {
    content: '';
    display: inline-block;
    width: $radio-width;
    height: $radio-width;
    margin: 0 $radio-margin 0 ($radio-width + $radio-margin)*-1;
    vertical-align: bottom;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
  }
  & ~ label:hover:before {

  }
  &:checked ~ label:before {
    box-shadow:
      inset 0 0 0 5px white,
      inset 0 0 0 $radio-width black;
  }

  // Ajax
  &.progress-disabled ~ label {
    @include animation-wait;
  }
  & + .ajax-progress {
    display: none;
  }
}
input[type="checkbox"] {
  & ~ label:before {
  border-radius: 0;
}*/
