/* Header */
.page-header {
  @include full-width-container('.page-header-inner');
}

/* Main */
.page-main {
  @include full-width-container('.page-main-inner');
}

/* Three column sizes */
.page-content-inner {
  margin: 0 26%;
  min-height: 1px;
}
.sidebar-first {
  width: 25%;
}
.sidebar-second {
  width: 25%;
  margin-left: -25%;
}

/* Footer */
.page-footer {
  @include full-width-container('.page-footer-inner');
}
