@mixin font-default {
  font-family: $page-font-family;
  font-size: $page-font-size;
}

@mixin link-default {
  color: $page-link-color;
  &:hover {
    color: $page-link-color-hover;
  }
}

@mixin button-default {
  @include style-button-reset;
  box-sizing: border-box;
  font: inherit;
  text-align: center;
  text-decoration: none;

  // Ajax
  &.progress-disabled {
    @include animation-wait;
  }
}

@mixin animation-wait {
  background-image: linear-gradient(135deg,
    rgba(0, 0, 0, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  background-repeat: repeat;
  animation: animation-wait 1.5s linear infinite;

  & + .ajax-progress {
    display: none;
  }
}
