@keyframes animation-wait {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 50px;
  }
}

body {
  @include font-default;
  line-height: $page-line-height;
  color: $page-font-color;
  background: white;
}
a {
  @include link-default;
}
h1 {
  font-size: $headline-size-1;
}
h2 {
  font-size: $headline-size-2;
}
h3 {
  font-size: $headline-size-3;
}

/* Visible by breakpoint */
.visible-desktop {
  @include media('<=mobile') {
    display: none;
  }
}
.visible-mobile {
  @include media('>mobile') {
    display: none;
  }
}
