// Naming convention: $context-property[-modificator]
$page-font-family: Tahoma, sans-serif;
$page-font-family-second: Arial, sans-serif;
$page-font-size: 14px;
$page-font-color: black;
$page-line-height: 1.5;
$page-link-color: #1e5b89;
$page-link-color-hover: #1e5b89;
$page-max-width: 940px;
$page-columns: 12;
$page-gutter: 20px;
$page-column: ($page-max-width - $page-gutter * ($page-columns - 1)) / $page-columns;
$page-padding: $page-gutter;
$headline-size-1: 24px;
$headline-size-2: 20px;
$headline-size-3: 16px;
$tabs-border-color: #BBBBBB;
$tabs-border-width: 1px;
$tabs-text-color: #333333;
$tabs-font-size: 11px;
$breakpoint-desktop: $page-max-width + $page-gutter;
$breakpoint-tablet: 640px;
$breakpoint-mobile: 480px;

$susy: (
  'columns': susy-repeat($page-columns),
  'gutters': $page-gutter / $page-column,
);

$page-zindex: (
  'dialog-overlay': 10,
  'dialog': 11,
);

$breakpoints: (
  'desktop': $breakpoint-desktop,
  'tablet': $breakpoint-tablet,
  'mobile': $breakpoint-mobile,
);
